# 📓 01 - Overview of Financial Markets

In this notebook, we'll explore different types of financial markets and how to fetch real-world data using Python and `yfinance`.

## 💹 1. Capital Markets
**Capital markets** are where long-term debt or equity-backed securities are bought and sold. This includes:

- **Stock Market** (e.g., equities like AAPL, MSFT)
- **Bond Market** (not covered in `yfinance` directly, but ETF proxies exist)

We’ll use `yfinance` to explore stock data.

In [1]:
import yfinance as yf

# Example: Apple stock
apple = yf.Ticker('AAPL')
apple.history(period='1mo').tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-25 00:00:00-04:00,206.369995,209.750000,206.199997,209.279999,38222300,0.0,0.0
2025-04-28 00:00:00-04:00,210.000000,211.500000,207.460007,210.139999,38743100,0.0,0.0
2025-04-29 00:00:00-04:00,208.690002,212.240005,208.369995,211.210007,36827600,0.0,0.0
2025-04-30 00:00:00-04:00,209.300003,213.580002,206.669998,212.500000,52286500,0.0,0.0
2025-05-01 00:00:00-04:00,209.009995,214.550003,208.899994,213.699997,35952923,0.0,0.0

## 💵 2. Money Markets
Short-term debt instruments with high liquidity:
- Treasury bills (e.g., 13-week T-Bills)
- Certificates of Deposit (CDs)
- Commercial paper (not directly available on `yfinance`)

`^IRX` is a proxy for 13-week treasury bills.

In [2]:
irx = yf.Ticker('^IRX')
irx.history(period='1mo').tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-25 00:00:00-05:00,4.193,4.195,4.193,4.193,0,0.0,0.0
2025-04-28 00:00:00-05:00,4.193,4.197,4.190,4.193,0,0.0,0.0
2025-04-29 00:00:00-05:00,4.195,4.195,4.190,4.190,0,0.0,0.0
2025-04-30 00:00:00-05:00,4.188,4.193,4.188,4.190,0,0.0,0.0
2025-05-01 00:00:00-05:00,4.175,4.190,4.170,4.185,0,0.0,0.0

## 📈 3. Derivatives Markets
Markets where instruments derive value from underlying assets. Examples:
- Futures (e.g., ES=F for S&P 500)
- Options (available via option chains)

In [3]:
futures = yf.Ticker('ES=F')
futures.history(period='1mo').tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-25 00:00:00-04:00,5529.0,5562.25,5480.25,5549.75,1339888,0.0,0.0
2025-04-28 00:00:00-04:00,5544.0,5578.75,5492.00,5553.00,1198801,0.0,0.0
2025-04-29 00:00:00-04:00,5543.0,5597.25,5521.50,5583.75,1227182,0.0,0.0
2025-04-30 00:00:00-04:00,5579.5,5626.25,5455.50,5587.00,1227182,0.0,0.0
2025-05-01 00:00:00-04:00,5617.5,5682.50,5615.00,5654.50,1087296,0.0,0.0

## 💱 4. Foreign Exchange (FX) Markets
The FX market allows the exchange of currencies.
- Currency pairs: `EURUSD=X`, `USDJPY=X`

In [4]:
eurusd = yf.Ticker('EURUSD=X')
eurusd.history(period='1mo').tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-25 00:00:00+01:00,1.137191,1.138433,1.131618,1.137191,0,0.0,0.0
2025-04-28 00:00:00+01:00,1.134314,1.140823,1.133106,1.134314,0,0.0,0.0
2025-04-29 00:00:00+01:00,1.140914,1.141957,1.137139,1.140914,0,0.0,0.0
2025-04-30 00:00:00+01:00,1.138926,1.139887,1.132708,1.138926,0,0.0,0.0
2025-05-01 00:00:00+01:00,1.133273,1.134301,1.127015,1.129305,0,0.0,0.0

## 🛢️ 5. Commodities Markets
Commodities like oil, gold, and agricultural products are traded in this market.
- Crude Oil: `CL=F`
- Gold: `GC=F`

In [5]:
gold = yf.Ticker('GC=F')
gold.history(period='1mo').tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-04-25 00:00:00-04:00,3355.500000,3355.500000,3266.100098,3282.399902,162,0.0,0.0
2025-04-28 00:00:00-04:00,3284.500000,3332.500000,3284.500000,3332.500000,1300,0.0,0.0
2025-04-29 00:00:00-04:00,3340.000000,3340.000000,3299.899902,3318.800049,1278,0.0,0.0
2025-04-30 00:00:00-04:00,3318.699951,3318.699951,3268.000000,3305.000000,1278,0.0,0.0
2025-05-01 00:00:00-04:00,3299.000000,3300.600098,3209.399902,3236.699951,206229,0.0,0.0

## ✅ Summary
- We introduced the five major market types.
- Used `yfinance` to fetch sample data for each.
- This serves as a practical entry point to explore financial data interactively.